/*默认样式*/
body {
    cursor: url(https://static.talkxj.com/css/default.cur), default;
}

a, button, img {
    cursor: url(https://static.talkxj.com/css/pointer.cur), default;
}

ul {
    padding: 0 !important;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
}

.send-wrapper {
    display: flex;
    align-items: center;
}

/*==========Scroller===========*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

/*==============日间模式====================*/
/*网页背景*/
.theme--light.v-application {
    background: linear-gradient(90deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
    color: #4c4948;
}
/*默认超链接下划线去掉*/
.theme--light.v-application a {
    color: #4c4948;
    text-decoration: none;
}
/*侧边栏*/
.theme--light.v-navigation-drawer {
    background: #f6f8fa;
}
.theme--light.v-navigation-drawer {
    background: #f6f8fa;
}
.theme--light.v-footer {
    color: #4c4948;
}
/*==============夜间模式====================*/
.theme--dark.v-application {
    background: #121212;
    color: rgba(255, 255, 255, 0.8);
}
.theme--dark.v-application a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.theme--dark.v-navigation-drawer {
    background-color: #121212;
}
.theme--dark.v-navigation-drawer {
    background-color: #121212;
}
.theme--dark.v-footer {
    color: #121212;
}

/*================PC端==============*/
@media (min-width: 960px) {

    .v-toolbar__content, .v-toolbar__extension {
        padding: 10px 36px;
    }

    /*登录框*/
    .login-container {
        padding: 1rem;
        border-radius: 4px;
        height: 500px;
    }
    /*第三方登录图标*/
    .login-wrapper {
        padding: 3.5rem 1.5rem 0 1.5rem;
    }

}

/*==============移动端================*/
@media (max-width: 959px) {

    /*登录框*/
    .login-container {
        padding: 1rem;
        border-radius: 4px;
        height: 100vh;
        width: 100vw;
    }
    /*第三方登录图标*/
    .login-wrapper {
        padding: 18vh .5rem 0 .5rem;
    }
}